.whole-container {
	margin-top: 30px;
}

.proj-box-container {
	height: 315px;
	/*padding: 50px;*/
}

.proj-box {
	width: 80%;
	height: 80%;
	margin: 0 auto;
  background-color: #e9e9e9;
}

.proj-box img {
	width: 100%;
	height: 100%;
}

.link-text {
  color: #e9e9e9;
}

/*.proj-box .content-box {
  top: 0;
  right: 12.5%;
  bottom: 20%;
  left: 12.5%;
  z-index: 1;
  background-color: #2C3E50;
  color: white;
  position: absolute;
}*/

.grow { 
	transition: all .5s ease-in-out;
}
.grow:hover { 
  transform: scale(1.1);
}