---
layout: default
---

<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/common.css">

<div class="custom-navbar">
  <div class="nav-menu"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></div>
  <div class="page-title">BLOG</div>
</div>

<div class="container-fluid">
  <div class="row whole-container">
    <div class="col-md-2 col-sm-1">
      <div class="categories-container">
        <span class="categories-title">CATEGORIES</span>
        <ul class="categories">
          <li><a href="/blog/">#all</a></li>
          <li><a href="/blog/general">#general</a></li>
          <li class="active"><a href="/blog/ideas">#ideas</a></li>
          <li><a href="/blog/development">#development</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-sm-10">
    <div class="posts">
      {% for post in site.posts %}
        {% if post.categories contains 'ideas' %}
          <div class="post-box">
            <div class="post-title">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </div>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <p class="post-excerpt">{{ post.excerpt }}</p>
            <div>
              {% for category in post.categories %}
                <a href="#">#{{ category }}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
